.chat-member__list {
  list-style-type: none;
  padding: 0;
}

.chat-member__holder {
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
}

.chat-member__pic {
  width: 3.125rem;
  height: 3.125rem;
}

.chat-member__nickname {
  font-size: 0.9rem;
}

.chat-member__line{
  border-bottom: 0.125rem solid #e0e0e0;
}

.chat-member__group{
  max-height: 37rem;
  overflow-y: auto;
}

.chat-member__count{
  margin-left: 1rem;
  font-size: 0.9rem;
  color: #495057;
}

.chat-member__ul {
  padding: 0;
}

.chat-member__holder {
  margin: 1rem;
}

.chat-member__leave-button {
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.chat-member__leave-button {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  background-color: black;
  color: #ffff;
  font-weight: 600;
  font-size: 0.85rem;
  margin-left: 1rem;
}

.chat-member__leave-button:hover {
  background-color: #383a3c;
}

.chat-member__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.875rem;
  border: 0.063rem solid #ccc;
  z-index: 1000;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.chat-member__title {
  color: #495057;
  margin-top: 0;
}

.chat-member__button {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  background-color: black;
  color: #ffff;
  font-weight: 600;
  font-size: 0.85rem;
  margin-right: 1rem;
  cursor: pointer;
}

.chat-member__button:hover {
  background-color: #383a3c;
}
