# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
#os 및 ide 관련 파일
.vscode/
.DS_Store

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

#리액트 초기파일
App.css
App.js
App.test.js
index.css
index.js
logo.svg
reportWebVitals.js
setupTests.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*
