body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;  
}

/* 헤더 */
.header {
    background-color: #fff;
    /*border-bottom: 1px solid #ddd;*/
    padding: 10px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    color: orange;
}

.header .menu {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header .menu a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

.header .button {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* 메인 콘텐츠 및 사이드바 컨테이너 */
.container {
    display: flex;
    max-width: 1200px;
    margin: 60px auto;
    gap: 20px;
}

/* 메인 콘텐츠 */
.main-content {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

/* 포스트 */
.main-content .post {
    padding-bottom: 20px;  
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;  
}


.main-content .post:last-child {
    border-bottom: none;
}

.main-content .post img {
    max-width: 100%;
    border-radius: 8px;
}

.main-content .post .description {
    margin: 10px 0;
}

.main-content .post .meta {
    display: flex;
    gap: 10px;
}

/* 사이드바 */
.sidebar {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar .profile {
    text-align: center;
}

.sidebar .profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.sidebar .profile p {
    margin: 10px 0;
}

.sidebar .links a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000;
}

/* 푸터 */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}
.back-to-top {
    position: fixed;  
    bottom: 40px;     
    right: 80px;      
    background-color: rgb(0, 0, 0);  
    color: white;     
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, opacity 0.3s;
    opacity: 0;       
    visibility: hidden;  
}

.back-to-top.show {
    opacity: 1;       
    visibility: visible;
}

.back-to-top:hover {
    background-color: grey; 
}

.like-count {
    cursor: pointer;
}


