.header__container {
  display: flex;
  justify-content: space-between;
  margin: 2rem 3rem;
}

.header__wrapper {
  display: flex;
  gap: 3rem;
}

.header__title {
  font-size: 1.5rem;
}

span {
  color: orange;
}

.header__sub-title {
  font-weight: 600;
}

.header__button {
  width: 6.188rem;
  height: 3.25rem;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  font-size: 1rem;
}
