/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
  }
  
  .logo {
    font-size: 30px;
    font-weight: 600;
    width: 80px;
  }

  .logo-span {
    color: #ff7900;
  }
  
  nav a {
    margin: 0 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
  }
  
  nav a.active {
    color: tomato;
  }
  
  nav a:hover {
    color: tomato;
  }

  .util ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
}
