@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.filter-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.filter-container {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
}

.filter-group {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.filter-group button {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 8px 16px;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    width: 120px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.filter-group button:hover {
    background-color: #f5f5f5;
    color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.filter-group .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #e16d52;
    color: white;
    border-radius: 50%;
    padding: 3px 8px;
    font-size: 12px;
    font-weight: bold;
    display: none;
}

.filter-group.active .badge {
    display: inline;
}

.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 10;
    top: 100%;
    left: 0;
    width: auto;
    min-width: 500px;
    max-width: 700px;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 15px;
}

.dropdown label {
    display: inline-block;
    margin-bottom: 10px;
    width: calc(25% - 10px);
    box-sizing: border-box;
    text-align: center;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease, transform 0.3s ease;
    font-size: 14px;
}

.dropdown label:hover {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    transform: translateY(-2px);
}

.dropdown-labels {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.dropdown-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.dropdown-buttons button {
    background-color: #e16d52;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.dropdown-buttons button:hover {
    background-color: #723729;
    transform: translateY(-2px);
}

.dropdown-buttons button:last-child {
    background-color: #e0e0e0;
    color: #333;
}

.dropdown-buttons button:last-child:hover {
    background-color: #d0d0d0;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-container input[type="text"] {
    flex-grow: 1;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 17px;
}

.search-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 14px;
}

.search-container button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.filter-container select, .search-container input[type="text"], .search-container button {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.filter-container select {
    min-width: 100px;
}

.search-container input[type="text"] {
    flex-grow: 1;
    min-width: 200px;
}

.search-container button {
    background-color: #a4a4a4;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-container button:hover {
    background-color: #d0d0d0;
    transform: translateY(-2px);
}

.job-list-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.job-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    list-style-type: none;
    margin: 0 auto;
    margin-left:15px;
    width: 1010px;
    box-sizing: border-box;
}

.job-item {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 20px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.job-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.job-header {
    margin-bottom: 8px;
}

.job-title {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.company-link {
    font-weight: normal;
    color: #666;
    display: block;
    margin-top: 8px;
    font-size: 0.9em;
}

.job-details {
    margin-top: auto;
    padding-top: 16px;
    border-top: 1px solid #e0e0e0;
}

.job-location, .job-industry, .job-experience, .job-education, .job-salary, .job-posting-date, .job-expiration-date {
    margin: 3px 0;
    display: flex;
    align-items: center;
    font-size: 0.85em;
    color: #666;
}

.job-location i, .job-industry i, .job-experience i, .job-education i, .job-salary i, .job-posting-date i, .job-expiration-date i {
    margin-right: 5px;
    color: #B0B4B7;
}

.job-modal {
    position: absolute;
    top: 50px;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, 0);
    background: #fff;
    border-radius: 8px;
    width: 80%;
    height: 90%;
    padding: 20px;
    z-index: 1000;
}

.job-modal-overlay {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.job-modal-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.close-modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #B0B4B7;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.close-modal-btn:hover {
    background-color: #8c8c8c;
    transform: translateY(-2px);
}

@media (max-width: 1024px) {
    .job-item {
        width: calc(50% - 20px);
    }

    .filter-search {
        flex-direction: column;
        gap: 20px;
    }

    .dropdown {
        min-width: auto;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .job-item {
        width: calc(100% - 20px);
    }

    .filter-container, .search-container {
        flex-direction: column;
        gap: 20px;
    }

    .filter-group button {
        width: 100%;
        text-align: center;
    }

    .dropdown label {
        width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .dropdown label {
        width: 100%;
    }

    .filter-search {
        padding: 0 10px;
    }

    .filter-container select, .search-container input[type="text"], .search-container button {
        width: 100%;
    }
}